{{- if .Values.migration.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "carapulse.fullname" . }}-migrate
  labels:
    {{- include "carapulse.componentLabels" (dict "context" . "component" "migrate") | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        {{- include "carapulse.componentLabels" (dict "context" . "component" "migrate") | nindent 8 }}
    spec:
      serviceAccountName: {{ include "carapulse.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      restartPolicy: OnFailure
      containers:
        - name: migrate
          image: {{ include "carapulse.image" (dict "global" .Values.global "image" .Values.migration.image "appVersion" .Chart.AppVersion) }}
          imagePullPolicy: {{ .Values.global.image.pullPolicy }}
          command:
            - /usr/local/bin/migrate
          args:
            - "-dsn"
            - "$(POSTGRES_DSN)"
            - "-action"
            - "up"
            - "-embed"
          env:
            - name: POSTGRES_DSN
              value: {{ .Values.config.storage.postgres_dsn | quote }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}
{{- end }}
